.header {
    max-width: 1230px;
    margin: 0 auto;
    background-color: #000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
}

.header__logo {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
}

.header__category {
    text-decoration: none;
    color: #fff;
    margin-right: 40px;
    font-size: 13px;
}