.message__success {
    max-width: 1230px;
    margin: 0 auto;
    color: #0f5132;
    background-color: #d1e7dd;
    padding: 10px 0;
}

.message__success ul {
    margin: 0;
}

.message__error {
    max-width: 1230px;
    margin: 0 auto;
    color: #842029;
    background-color: #f8d7da;
    padding: 10px 0;
}

.message__error ul {
    margin: 0;
}

.todo {
    max-width: 800px;
    margin: 50px auto;
    width: 70%;
}

.todo-form {
    margin: 0 auto 30px;
}

.section__title {

}

.create-form, .search-form {
    display: flex;
    justify-content: space-between;
}

.create-form__item, .search-form__item {
    display: flex;
    width: 70%;
}

.create-form__item input, .search-form__item input {
    border: 1px solid #ddd;
    width: 60%;
    height: 40px;
    margin-right: 10px;
}

.create-form__item select, .search-form__item select {
    border: 1px solid #ddd;
    width: 40%;
    height: 40px;

}

.create-form button, .search-form button {
    width: 100px;
    background-color: #000;
    color: #fff;
    border-radius: 3px;
    margin-left: 10%;
    font-size: 14px;
    cursor: pointer;
}

.todo-list {
    margin: 30px auto 0;
    border-bottom: 1px solid #ddd;
}

.todo-list__titles {
    display: flex;
    align-items: center;
    width: 90%;
}

.todo-list__title {
    font-weight: bold;
    padding: 10px;
    width: 65%;
}

.todo-list__item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #ddd;
    padding: 10px;
}

.todo-list__update {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.todo-list__update-items {
    display: flex;
    width:80%;
}

.todo-list__update-items input {
    font-size: 12px;
    width: 65%;
    border-width: 0;
    outline: none;
    margin-right: 10px;
}

.todo-list__update-items select {
    font-size: 12px;
    width: 150px;
    border: none;
    outline: none;
}

.todo-list__submit {
    appearance: none;
    width: 48px;
    margin-left: 10px;
    background-color: #00f;
    color: #fff;
    border-width: 0;
    border-radius: 3px;
    padding: 7px 10px;
    font-size: 14px;
    cursor: pointer;
}

.todo-list__submit--delete {
    background-color: #f00;
}